
html, body {
	height: 100%;
	margin: 0; padding: 0;
}
body {
    width: 100%;
    background: #eceff4;
    min-height: 100vh;
    display: grid;
    place-items: start;
}
footer {
	display : table-row;
	height: 100px; /* à titre d'exemple */
}
/*////////Général////////*/
.bg-bleu{
    background-color: #4dabf7;
}
.bleu{
    color: #4dabf7;
}
.gris{
    color: #495057;
}
li{
    list-style: none;
}
/*Police*/

h1,h2,h3,h4,h5,h6{
    font-family: 'Roboto', sans-serif;
    color: #495057;
}
p,a,li>a{
    font-family: 'Roboto', sans-serif;
    text-align: justify;
}
p,li>a{
    color: #495057;
    margin: 0;
}
li>a:hover{
    color: #495057;
    text-decoration: none;
}
.police14{
    font-size: 14px;
}
.graisse-bold{
    font-weight: 700;
}
.graisse-light{
    font-weight: 400;
}

/*Bouton download*/
.bouton-download{
    position: absolute;
    right: 2rem;
    z-index: 1;
    box-shadow: 0px 2px 5px gray;
}
.carre{
    background-color: #4dabf7;
    width: 3.5rem;
    height: 6rem;
    padding-bottom: 1rem;
}
.fa-file-download{
    color: white;
}

/* /////ANIMATION///// */
#fadein, #info, #work, #education, #skills {
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* ////////////HEADER//////////// */
.tab-content.hide{
    display: none;
}
.tab-content.active{
    display: block;
}
.nav-link:hover{
    color: #4dabf7;
}
li.active>a{
    color: #4dabf7 !important;
}
.image-back{
    background-image: url("../img/photo.png");
    /* Full height */
    width: 100%;
    height: 483px;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.text-description{
    text-align: left;
}
.navigation{
    background-color: white;
}
.langue{
    cursor: pointer;
}
/* ////////////MAIN//////////// */
.i-info{
    width: 40px !important;
}
.langue{
    margin-left: 40px;
}
hr{
    margin-left: 85px;
}
/* .mobile-hide{
    visibility: hidden;
}
/* ////////Aside/////// */
.progress{
    height: 0.3rem;
    background-color: rgba(0,0,0,0.2);
    margin-left: 40px;
}
.progress-bar{
    background-color: white;
    animation: animate-positive 5s;
}
@-webkit-keyframes animate-positive{
    0% { width: 0%; }
}
@keyframes animate-positive{
    0% { width: 0%; }
}
.tooltip{
    border-radius: 0 2px;
    background: red;
}
/* Work */
.hr-work{
    margin-left: 25px !important;
}
/*FOOTER*/
footer{
    margin-top: 0.5rem;
    height: 0.5rem;
}
/*///////SCALES//////////////////////////////////////*/

@media (min-width: 580px) {
    .image-back{
        width: 100%;
        height: 443px;
    }
    /*Bouton download*/
    .bouton-download{
        position: absolute;
        right: 8rem;
        z-index: 1;
    }
    .carre{
        background-color: #4dabf7;
        width: 3.5rem;
        height: 6rem;
        padding-bottom: 1rem;
    }
    .fa-file-download{
        color: white;
    }
    footer{
        height: 2rem;
    }
}
@media (min-width: 768px) {
    .navigation{
        display: none !important;
    }
    .tab-content.hide{
        display: block;
    }
    .image-back{
        width: 100%;
        height: 283px;
    }
    .bloc-skill{
        width: 48%;
    }
    .poste{
        padding-left: 6rem !important;
    }
}

@media (min-width: 992px) {
    .image-back{
        width: 100%;
        height: 383px;
    }
}
@media (min-width: 1120px) {
    
}
@media (min-width: 1180px) {

}
@media (min-width: 1400px) {
    .bouton-download{
        right: 15rem;
    }
}
@media (min-width: 1600px) {
    .bouton-download{
        right: 20rem;
    }
}
@media (min-width: 1700px) {
    .bouton-download{
        right: 25rem;
    }
}
@media (min-width: 1800px) {
    .bouton-download{
        right: 30rem;
    }
}
/*//////////MAX////////////*/
@media (max-width: 1280px) {
    
}